{% extends "template.html" %}
  
{% block title %}URL Shortener{% endblock %}
  
{% block content %}
<script type="text/javascript">
    $(function() {
        $('#loginButton').click(function() {
        $.ajax({
            type: "POST",
            url: "/login-jwt/",
            data: {
                'username' : $('#username').val(),
                'password' : $('#password').val(),
                },
                success: returnTokenSuccess,
                error: returnTokenFailed,
                dataType: 'json'
            });
        });
        $('#logoutButton').click(function() {
          window.location.replace("http://localhost:8000");
        });
        $('#submitButton').click(function() {
          $.ajax({
              type: "POST",
              url: "/api/",
              data: {
                  'real_url' : $('#url').val(),
                  'username' : $('#username').val(),
                  'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val(),
                  },
                  success: returnSuccess,
                  dataType: 'json'
              });
          });
    });
    
    function returnTokenSuccess(data, textStatus, jqXHR) {
        console.log(data);
        if (data.token) {
          window.localStorage.setItem('urlShortenerToken', data.token);
          var token = data.token;
          $("#logout-panel").toggleClass('hidden');
          $("#login-panel").toggleClass('hidden');
          $("#urlshortener-panel").toggleClass('hidden');
          $("#urls-panel").toggleClass('hidden');
          $.ajax({
              type: "POST",
              url: "/api/urls/",
              headers: {
                'Authorization': "JWT " +  token,
              },
              data: {
                  'username' : $('#username').val(),
                  'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val(),
              },
              success: returnUrlsSuccess,
              dataType: 'json',
            });
        }
    }
    function returnTokenFailed (data, textStatus, jqXHR) {
        console.log(data);
        $("#login-result").toggleClass('hidden');
    }
        
    
    function returnSuccess(data, textStatus, jqXHR) {
        console.log(data);
        if(data.short_url) {
            $('#url-result').text(data.short_url);
            $('#url').val("");
            $('#urls_table tr:last').after('<tr><td><a href="' + data.short_url+ '"> '+ data.real_url + '</a></td><td><a href="' + data.short_url + '"> '+ data.short_url + '</a></td><td> ' + data.count  + ' </td></tr>');
        } else {
            $('#url-result').text("Do not submit blank."); 
        }
    }

    function returnUrlsSuccess(data, textStatus, jqXHR) {
        console.log(data);
        if (data.urls) {
          data.urls.forEach(url => {
            url = JSON.parse(url);
            console.log(url.real_url);
            $('#urls_table tr:last').after('<tr><td><a href="' + url.short_url+ '"> '+ url.real_url + '</a></td><td><a href="' + url.short_url + '"> '+ url.short_url + '</a></td><td> ' + url.count  + ' </td></tr>');
          });
        }
    }
</script>
<div class="panel panel-default">
    <div id="logout-panel"  class="panel-body hidden">
        <div class="col-sm-12">
          <button id="logoutButton" type="button" class="btn btn-danger btn-block">Logout</button>
        </div>
    </div>
    
    <div id="login-panel" class="panel-body">
        <div class="col-sm-9">
            <input type="text" name="username" id="username" class="form-control input-sm" placeholder="Username" />
            <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" />
        </div>
        <div class="col-sm-3">
            {% csrf_token %}
            <button id="loginButton" class="btn btn-primary">Login</button></p> 
        </div>
        <div class="col-sm-12 hidden" id="login-result"><span>Wrong username or password</span></div>
    </div>

    <div id="urlshortener-panel"  class="panel-body hidden">
        <div class="col-sm-9">
            <input type="text" name="url" id="url" class="form-control input-sm" placeholder="http://www.google.com" />
        </div>
        <div class="col-sm-3">
            {% csrf_token %}
            <button id="submitButton" class="btn btn-primary">Shorten</button></p> 
        </div>
        <div class="col-sm-12">
          <span id="url-result">Submit an URL to shorten</span>
        </div>
    </div>

    <div id="urls-panel"  class="panel-body hidden">
        <div class="col-sm-12">
          <table class="table table-hover" id="urls_table">
            <thead>
              <tr>
                <th>Real Url</th>
                <th>Short Url</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
                
            </tbody>
          </table>
        </div>
    </div>
</div>
{% endblock %}