<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}URL Shortener{% endblock %}</title>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
   <script type="text/javascript">
   $(function() {
        $( document ).ready(function() {
            if(window.localStorage.getItem('urlShortenerToken')) {
                $.ajax({
                type: "POST",
                url: "/api-token-verify/",
                data: {
                    'token' : window.localStorage.getItem('urlShortenerToken'),
                    },
                    success: returnTokenSuccess,
                    dataType: 'json'
                });
            };
        });
        function returnTokenSuccess(data, textStatus, jqXHR) {
            console.log(data);
            if (data.token && window.localStorage.getItem('urlShortenerUsername')) {
                $('#login-button').text(window.localStorage.getItem('urlShortenerUsername'));
            }
        }
   });
   
   </script>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" href="/">Url Shortener</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a id="login-button" href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid text-center">    
            <div class="row content">
                <div class="col-sm-2 sidenav"></div>
                    <div id="wrap" class="col-sm-8 text-left">
                        <div id="content">
                            {% block content %}
                            
                            {% endblock %}
                        </div>
                    </div>
                    <div class="col-sm-2 sidenav"></div>
                </div>
        </div>
    </body>
</html>